<h1>Create new quiz</h1>

<form action="/quizzes" method="post">
  Quiz Name: <input type="text" name="name" id="name" value="" />
  <br>
  Quiz success message:
  <input type="text" name="successMessage" id="" value="" />
  <br>

  <button type="submit">Save</button>
</form>
