<h2>Quiz <%= quiz.name %></h2>

<h3>Questions</h3>

<form action='/quizzes/<%= quiz.id %>/take' method='post'>
<ol>
  <% quiz.questions.forEach( function(question) { %>
    <li>
      <% include individual_question %>
    </li>
  <% }); %>

  <% if (quiz.questions.length === 0) { %>
    <li><em>No questions yet.</em></li>
  <% } %>
</ol>

<div class='submit'>
  <button type='submit'>Submit answers</button>
</div>

</form>
